In [1]:
import json

In [2]:
data = {"name": "Alice", "company": "IBM", "salary": 45000}
type(data)

dict

In [3]:
json_string = json.dumps(data)
print(json_string)  # Output: {"name": "Alice", "age": 25, "city": "New York"}
print(type(json_string))  # <class 'str'>

{"name": "Alice", "company": "IBM", "salary": 45000}
<class 'str'>

In [4]:
with open("file222.json", "w") as file:
    json.dump(data, file)

#creates a file with name we give in 1st argument
#takes the information in data
#dump it into the file

In [5]:
json_data = '{"name": "Teja", "age": 20, "city": "Hyderabad"}'

In [6]:
python_obj = json.loads(json_data)
print(python_obj)
type(python_obj)

{'name': 'Teja', 'age': 20, 'city': 'Hyderabad'}

dict

In [9]:
with open("file222.json", "r") as file:
    python_data = json.load(file)
print(python_data)

{'name': 'Alice', 'company': 'IBM', 'salary': 45000}